@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ShortUrlViewModel
<table>
    <thead>
        <tr class="tableTr">
            <th class="tableTh" hidden>ShortUrlID</th>
            <th class="tableTh">MainUrl</th>
            <th class="tableTh">ShortVariant</th>
            <th class="tableTh" hidden>UserID</th>
            <th class="tableTh">User Name</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ShortUrls.Count(); i++)
        {
            <tr class="tableTr">
                <td class="tableTd" hidden>@Model.ShortUrls[i].ShortUrlID</td>
                <td class="tableTd">@Model.ShortUrls[i].MainUrl</td>
                <td class="tableTd">@Model.ShortUrls[i].ShortVariant</td>
                <td class="tableTd" hidden>@Model.ShortUrls[i].User.Id</td>
                <td class="tableTd">@Model.ShortUrls[i].User.Name</td>
            </tr>
        }
    </tbody>
</table>